<head>
  <a class="navbar-brand" href="/" id="title">交通情報検索</a>
</head>
<nav class="navbar navbar-expand-sm navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-100 nav-justified">
      <% if logged_in? %>
      <li class="nav-item"><%= link_to 'トップ', root_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to '問い合わせ', contacts_new_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'プロフィール', user_path(current_user), class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
      <% else %>
      <li class="nav-item"><%= link_to 'トップ', root_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to '問い合わせ', contacts_new_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'アカウント作成', signup_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>

